<section class="h-24 p-2 w-full border-1px border-zinc-700">
    <div class="flex flex-row gap-x-2 mx-2 items-center justify-start w-full h-full">
        <img src="../../../assets/aliados-icon.png" alt="Aliados Stop Icon" class="h-20 w-20">
        <h1 class="text-zinc-200 text-2xl font-bold">StopotS Aliados</h1>
        <span class="w-0.5 bg-zinc-700 h-2/4 rounded-xl mx-4"></span>
        <a routerLink="/play" class="text-zinc-400 hover:text-zinc-100 transition-all ease-in-out">Play</a>
    </div>
</section>