{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h2>Bem Vindo {{ user_name }}</h2>

    <form>
        <input type="text" name="user_id" value="{{session.get('user_id')}}" class="d-none ">
        <input type="text" name="user_name" value="{{session.get('user_name')}}" class="d-none ">
        <button
            name="ready"
            id="ready-button"
            class="btn btn-primary"
            type="submit"
        >
            Jogar
        </button>
    </form>

    <a
        name=""
        id=""
        class="btn btn-primary"
        href="/create_room"
        role="button"
    >
        Criar Sala
    </a
    >

{% endblock %}