{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h2>Bem Vindo {{ user_name }}</h2>

    <div class="d-flex justify-content-center align-items-center ">
        <button
            name="ready"
            id="ready-button"
            class="btn btn-primary me-4"
            onclick="showOpenRooms()"
        >
            Jogar
        </button>
        <a
            name=""
            id=""
            class="btn btn-primary"
            href="/create_room"
            role="button"
        >
            Criar Sala
        </a>
    </div>

    <div style="display: none;" id="hidden_rooms">
        {% for element in rooms_list %}
            <div class="card bg-dark border-1 border-secondary " style="width: 18rem;">
                <h1>{{ element.room_id}}</h1>
                <div class="card-body">
                    <h5 class="card-title">Sala {{ element.room_id}}</h5>
                    <a href="/play/{{ element.room_id }}" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        var salasDisponiveis = []
        
        function showOpenRooms() {
            document.getElementById("hidden_rooms").style.display = "flex";
        }

    </script>

{% endblock %}