{% extends "layout.html" %}

{% block title %}
    Play
{% endblock %}

{% block main %}
    <section style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div class="d-flex align-items-center justify-content-center bg-black rounded-2 p-4 w-75">
            <h1>Rodadas: &nbsp<h1 id="current-round-item">0</h1> / 12</h1>
            <div class="mx-4 bg-white d-flex rounded-3" style="padding: 0px 1px; height: 40px;"></div>
            <h1 class="d-inline-flex">Sala &nbsp<div class="fw-bold " id="room_id_value">{{room_id}}</div></h1>
            {% if is_admin %}
                <button 
                    class="btn btn-success ms-4" 
                    onclick="startRound()"
                >
                    START GAME
                </button>
            {% endif %}
        </div>
        <div class="progress mt-1 mb-4" style="width: 75%;">
            <div 
                class="progress-bar" 
                role="progressbar" 
                id="progressBar"
                aria-label="Basic example" 
                aria-valuenow="0" 
                aria-valuemin="0" 
                aria-valuemax="100"
            ></div>
        </div>
        
        
        <div 
            id="round-play" 
            style="display: flex;" 
            class="align-items-start justify-content-center w-100 gap-4"
        >
            <div 
                id="users-container" 
                style="background-color: #000000;"
                class="d-flex flex-column gap-2 w-25 rounded-1 p-4"
            >
            </div>
            <div
                style="background-color: #000000;" 
                class="d-flex flex-column gap-4 w-50 rounded-1 p-4"
            >
                <div class="d-inline-flex justify-content-center align-items-center">
                    <h2 class="fw-bolder fs-3 me-4">Preencha os Campos</h2>
                    <span 
                        id="random-letter-item"
                        class="badge bg-danger fs-3 fw-bold"
                    ></span>
                </div>
                <form id="questions_form" class="row row-cols-3">
                    {% for element in themes_data %}
                        <div class="col" style="width: 18rem; height: 6rem;">
                            <label for="{{element.question_title}}">{{element.question_title}}</label>      
                            <input 
                                type="text" 
                                name="{{element.question_title}}" 
                                id="{{element.question_id}}" 
                                autocomplete="off" 
                                autofocus 
                                class="form-control mx-auto w-auto"
                                value="fantastico"
                                required
                            >      
                        </div>
                    {% endfor %}                    
                </form>
                <div class="d-flex align-items-center justify-content-center ">
                    <button
                        type="button"
                        class="btn btn-danger w-25 fw-bold"
                        id="stop-game-button"
                        disabled
                        onclick="finishRound()"
                    >
                        STOP
                    </button>
                </div>
            </div>
        </div>

        <div 
            id="round-evaluating"
            style="display: none;" 
            class="align-items-start justify-content-center w-100"
        >
        <div class="d-flex align-items-center justify-content-center ">
            <div>
                TEMA: 
                <h1 id="theme-round-id"></h1>
            </div>

            <div
                id="evaluating-questions" 
                class="d-flex align-items-center justify-content-center w-100"
            ></div>
            <button
                type="button"
                class="btn btn-danger fw-bold"
                id="stop-evaluating-button"
                onclick="finishEvaluating()"
            >
                FINALIZAR VOTAÇÃO
            </button>
        </div>

        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <script>
        ///////// Variables
        var evaluating = false;
        var roundOn = true;
        var currentRound = 0;
        var roundLetter = "";
        
        const socket = io({autoConnect: false});
        

        ///////// Socket's
        socket.connect();

        socket.on('connect', () => {
            console.log('Connected to Socket.IO server');
        });

        socket.on('roundInfo', (data) => {
            currentRound = data.current_round;
            roundLetter = data.random_letter;

            updateRoundAndLetter();
        });
        
        socket.on('evaluating', (status) => {
            evaluating = status.evaluation_status;
            console.log(status.answers_data);
            if (evaluating) {
                console.log('Startando votação!');
                document.getElementById("round-play").style.display = "none";
                document.getElementById("round-evaluating").style.display = "flex";
            } else {
                document.getElementById("round-play").style.display = "flex";
                document.getElementById("round-evaluating").style.display = "none";
            }
        });

        socket.on('inUserConnect', (data) => {
            console.log('On User connection: ', data);
            
            currentRound = data.current_round;
            roundLetter = data.random_letter;
            updateRoundAndLetter();
            
            users_data = data.users_data;
            renderUsersLogged(users_data);
        });

        socket.on('progress_update', (data) => {
            // console.log('Test', data);
            let value = data.progress;
            var progressBar = document.getElementById('progressBar');
            let percent = Math.round((value / 90) * 100);

            progressBar.style.width = percent + '%';
            progressBar.setAttribute("aria-valuenow", String(percent));
            
            if (percent == 100) {
                finishRound();
            }
        });

        socket.on('roundTheme', (data) => {
            document.getElementById("theme-round-id").innerHTML = data.question_title;
        });

        ///////// Listeners
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('questions_form');
            const inputs = form.querySelectorAll('input');

            inputs.forEach(input => {
                input.addEventListener('input', validateForm);
            });
        });


        ///////// Functions Handlers
        function startRound () {
            socket.emit('startRound');
        }

        function finishRound () {
            data = postQuestionsResult();
            socket.emit('finishRound', data);
        }

        function finishEvaluating() {
            socket.emit('finishEvaluation');
        }

        function postQuestionsResult() {
            const form = document.getElementById('questions_form');
            const inputs = form.querySelectorAll('input');
            const data = [];

            inputs.forEach(input => {
                const questionId = input.id;
                const questionTitle = input.name;
                const questionValue = input.value;

                const questionData = {
                    'question_id': questionId,
                    'question_title': questionTitle,
                    'question_value': questionValue
                };

                data.push(questionData);
            });

            return data
        }

        function validateForm() {
            const form = document.getElementById('questions_form');
            const inputs = form.querySelectorAll('input');
            const submitButton = document.getElementById('stop-game-button');

            let allValid = true;
            inputs.forEach(input => {
                if (input.value === '') {
                    allValid = false;
                }
            });

            submitButton.disabled = !allValid;
        }

        function updateRoundAndLetter() {
            const letterItem = document.getElementById("random-letter-item");
            letterItem.innerHTML = roundLetter;

            const currentRoundItem = document.getElementById("current-round-item");
            currentRoundItem.innerHTML = currentRound;
        }

        function renderUsersLogged(data) {
            const container = document.getElementById('users-container');
            container.innerHTML = '';

            data.forEach(item => {
                // Create the outer div
                const outerDiv = document.createElement('div');
                outerDiv.className = 'd-flex align-items-center justify-content-start';

                // Create the icon element
                const icon = document.createElement('i');
                icon.setAttribute('data-feather', 'user');
                icon.className = 'p-2 rounded-circle bg-secondary me-3';
                icon.style.height = '64px';
                icon.style.width = '64px';

                // Create the inner div for name and points
                const innerDiv = document.createElement('div');
                innerDiv.className = 'd-flex w-100 flex-column align-items-start justify-content-center';

                // Create and append the name h3
                const nameH3 = document.createElement('h3');
                nameH3.className = 'fs-4';
                nameH3.textContent = item.user_name;
                innerDiv.appendChild(nameH3);

                // Create and append the points h3
                const pointsH3 = document.createElement('h3');
                pointsH3.className = 'fs-4 fw-bolder';
                pointsH3.textContent = `${item.user_score} pts`;
                innerDiv.appendChild(pointsH3);

                // Append the icon and inner div to the outer div
                outerDiv.appendChild(icon);
                outerDiv.appendChild(innerDiv);

                // Append the outer div to the container
                container.appendChild(outerDiv);

                feather.replace();
            });
        }

    </script>

{% endblock %}